In [5]:
import pandas as pd

df = pd.read_csv("./data/vendas.csv")

df.head()

         Data   Produto  Quantidade  Preco Unitario Cliente
0  2023-10-01    Caneta        50.0            1.50    João
1  2023-10-02   Caderno        30.0           10.00     NaN
2  2023-10-03     Lapis       120.0             NaN   Maria
3  2023-10-04  Borracha        80.0            0.75     Ana
4  2023-10-05   Mochila         NaN           50.00   Pedro

In [6]:
print(df.isnull().sum())

print(df.dtypes)

Data              0
Produto           0
Quantidade        1
Preco Unitario    1
Cliente           1
dtype: int64
Data               object
Produto            object
Quantidade        float64
Preco Unitario    float64
Cliente            object
dtype: object

In [7]:
df["Data"] = pd.to_datetime(df["Data"])

df["Quantidade"] = df["Quantidade"].fillna(0)
df["Preco Unitario"] = df["Preco Unitario"].fillna(df["Preco Unitario"].mean())

df = df.dropna(subset=["Cliente"])

df.to_csv("./data/vendas_limpas.csv", index=False)

print(df.head())

        Data   Produto  Quantidade  Preco Unitario Cliente
0 2023-10-01    Caneta        50.0          1.5000    João
2 2023-10-03     Lapis       120.0         15.5625   Maria
3 2023-10-04  Borracha        80.0          0.7500     Ana
4 2023-10-05   Mochila         0.0         50.0000   Pedro